@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src:
    local("Eudoxus-Regular"),
    url("./assets/fonts/eudoxus/EudoxusSans-Regular-BF659b6cb1d4714.ttf")
      format("truetype");
}

@font-face {
  font-family: "Medium";
  src:
    local("Eudoxus-Medium"),
    url("./assets/fonts/eudoxus/EudoxusSans-Medium-BF659b6cb1c14cb.ttf")
      format("truetype");
}

@font-face {
  font-family: "Bold";
  src:
    local("Eudoxus-Bold"),
    url("./assets/fonts/eudoxus/EudoxusSans-Bold-BF659b6cb1408e5.ttf")
      format("truetype");
}

@font-face {
  font-family: "Extra Bold";
  src:
    local("Eudoxus-Extra-Bold"),
    url("./assets/fonts/eudoxus/EudoxusSans-ExtraBold-BF659b6cb1b96c9.ttf")
      format("truetype");
}

@font-face {
  font-family: "Javanese Bold";
  src:
    local("Javanese-Bold"),
    url("./assets/fonts/javanese/NotoSansJavanese-Bold.ttf") format("truetype");
}

body {
  background-color: #fff0d1;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 768px) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1024px) {
  body {
    padding-left: 200px; /* Adjusted for smaller desktop screens */
    padding-right: 200px;
  }
}

/* Larger desktops or smaller full screens */
@media (min-width: 1280px) {
  body {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (min-width: 1440px) {
  body {
    padding-left: 300px;
    padding-right: 300px;
  }
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  transition: color 100ms ease;
}
